*.wcu
*.ncu
*.csv
*.rar
*.exe
*.pyc
V4.0 - Python/.idea/inspectionProfiles/profiles_settings.xml
V4.0 - Python/.idea/inspectionProfiles/Project_Default.xml
V4.0 - Python/.idea/misc.xml
V4.0 - Python/.idea/modules.xml
V4.0 - Python/.idea/V4.0 - Python.iml
V4.0 - Python/.idea/vcs.xml
